@font-face {
    font-family: CustomFont;
    src: url(./font/EnchantedLand-jnX9.ttf);
}

@font-face {
    font-family: CustomFont2;
    src: url(./font/Madrigal-mLJ92.ttf)
}

* {
margin: 0;
padding: 0;
font-family: CustomFont;
}

#splash-screen {
    background-image: url("./images/cottage.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-top: 50px;
}

h1 {
    font-size: 80px;
    font-family: CustomFont2;
    color: black;
}

.opening-img {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-left: 350px;
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:800px;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

.button-img {
    height: 100px;
}

#start-button {
    background: none;
}

.paw-btn {
    width: 200px;
}

.keyboard-img {
    width: 100px;
}

.enter-img {
    width: 50px;
}

#gameplay-screen {
    display: flex;
    flex-direction: column;
    background-color: rgb(171, 227, 163); 
    height: 100vh;
}

.forest-img {
    height: 800px;
}

.cottage-img {
height: 800px;
}

.status {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.strength-bar {
text-transform: uppercase;
font-weight: bold;
font-size: 20px;
}

.score {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.game-board {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 76px;
    width: 100vw;
}

.gameover-screen {
    background-color: aqua;
}

.footer {
    display: flex;
    align-items: flex-end;
    
}

#gameover-screen {
    background-image: url("./images/canvas-1.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.end-instructions {
    color: white;
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
    font-size: 100px;
}

.final-score {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 910px;
    padding-top: 100px;
    background: none;
    border: 0px;
}

#restart-button {
    width: 100px;
    background-color: rgb(171, 227, 163);
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}