* {
margin: 0;
padding: 0;
}

#splash-screen {
    background-image: url("./images/cottage.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.opening-img {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-left: 350px;
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:400px;
    padding: 20px;
}

.button-img {
    height: 100px;
}

.paw-btn {
    width: 200px;
}

.keyboard-img {
    width: 100px;
}

.enter-img {
    width: 50px;
}

#gameplay-screen {
    display: flex;
    flex-direction: column;
    background-color: rgb(171, 227, 163); 
    height: 100vh;
}

.forest-img {
    height: 800px;
}

.cottage-img {
height: 800px;
}

.status {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.strength-bar {
text-transform: uppercase;
font-weight: bold;
font-size: 20px;
}

.score {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.game-board {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 76px;
}

.gameover-screen {
    background-color: aqua;
}

.footer {
    display: flex;
    align-items: flex-end;
    
}